<!DOCTYPE html>
<html lang="en">
{% load static %}
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet" />
		<link rel="stylesheet" href="{% static "assets/css/font-awesome.min.css" %}" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="{% static "assets/css/font-awesome-ie7.min.css" %}"/>
		<![endif]-->

		<!-- fonts -->

		<link rel="stylesheet" href="{% static "assets/css/ace-fonts.css" %}" />

		<!-- ace styles -->

		<link rel="stylesheet" href="{% static "assets/css/ace.min.css" %}"/>
		<link rel="stylesheet" href="{% static "assets/css/ace-rtl.min.css" %}" />
		<link rel="stylesheet" href="{% static "assets/css/ace-skins.min.css" %}"/>

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="{% static "assets/css/ace-ie.min.css" %}"/>
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="{% static "assets/js/ace-extra.min.js" %}"></script>
        
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="{% static "assets/js/html5shiv.js" %}"></script>
		<script src="{% static "assets/js/respond.min.js" %}"></script>
		<![endif]-->
		{% block extra_css %}
		{% endblock%}
	</head>

	<body>

      {% block navbar %}
      {% endblock %}

      {% block sidebar %}
      {% endblock %}

      {% block content %}
      {% endblock %}

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write('<script src="{% static "assets/js/jquery-2.0.3.min.js" %}">"+"<"+"/script>');
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='{% static 'assets/js/jquery-1.10.2.min.js' %}'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write('<script src="{% static "assets/js/jquery.mobile.custom.min.js" %}">"+"<"+"/script>');
		</script>
		<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
		<script src="{% static "assets/js/typeahead-bs2.min.js" %}"></script>

		<!-- page specific plugin scripts -->
		{% block librerias %}
		{% endblock %}
		<!-- ace scripts -->

		<script src="{% static "assets/js/ace-elements.min.js" %}"></script>
		<script src="{% static "assets/js/ace.min.js" %}"></script>

		{% block jquery %}

		{% endblock %}
		<!-- inline scripts related to this page -->
	</body>
</html>
