{% extends "base.html" %}

{% block navbar %}
  {% include "navbar.html" %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<div class="main-container" id="main-container">
  <script type="text/javascript">
	try{ace.settings.check('main-container' , 'fixed')}catch(e){}
  </script>

  <div class="main-container-inner">

	<a class="menu-toggler" id="menu-toggler" href="#">
	  <span class="menu-text"></span>
	</a>
    
    {% if user.is_authenticated %}

    {% include "sidebar.html" %}


    <div class="main-content">
      <div class="breadcrumbs" id="breadcrumbs">
	    <script type="text/javascript">
	      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	    </script>

	    <ul class="breadcrumb">
	      <li class="active">
		    <i class="icon-home home-icon"></i>
		    <a href="#">Home</a>
	      </li>
	    </ul><!-- .breadcrumb -->

      </div>

      <div class="page-content">
	    {% block contenido %} 
	    {% endblock %}
      </div><!-- /.page-content -->
    </div><!-- /.main-content -->

    {% else %}

      {% include "account/login.html" %}

    {% endif %}
  </div><!-- /.main-container-inner -->

  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
	<i class="icon-double-angle-up icon-only bigger-110"></i>
  </a>
</div><!-- /.main-container -->

{% endblock %}
