{% load static %}
{% load account_tags %}
{% load url from future %}

<a data-toggle="dropdown" href="#" class="dropdown-toggle">
  <img class="nav-user-photo" src="{% static "assets/avatars/user.jpg" %}" alt="Jason's Photo" />
  <span class="user-info">
	<small>Bienvenido,</small>{% user_display request.user %}
  </span>

  <i class="icon-caret-down"></i>
</a>

<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

  <li>
	<a href="{% url "account_logout" %}">
	  <i class="icon-off"></i>
	  Logout
	</a>
  </li>
</ul>
