{% load static %}
{% load account_tags %}
{% load url from future %}

<a data-toggle="dropdown" href="#" class="dropdown-toggle">
  <img class="user" src="{% static "assets/avatars/avatar2.png" %}"/>
  <span class="user-info">
	<small>Bienvenido,</small>{% user_display request.user %}
  </span>
  <i class="icon-caret-down"></i>
</a>

<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
  {% if request.user.is_superuser %}
  <li>
	<a href="{% url THEME_ADMIN_URL|default:"admin:index" %}">
	  <i class="icon-bolt"></i>
	  Admin
	</a>    
  </li>
  {% endif %}
  <li>
	<a href="{% url "account_logout" %}">
	  <i class="icon-off"></i>
	  Salir
	</a>
  </li>
</ul>
